@media screen and (max-width: 1950px) {
  .container {
    width: 1700px;
    margin: 0 auto;
  }
  #wrapper {
    position: relative;
  }
  .containert {
    width: 1920px;
    margin: 0 auto;
  }
  #topper {
    background: #F8F8F8;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .num {
    font-size: 14px;
    font-weight: 500;
  }
  .klok {
    padding-left: 15px;
  }
  .istanbul {
    display: inline-block;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 6px;
  }
  .lag {
    padding-left: 30px;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
  }
  .bla_bla {
    width: 35%;
  }
  .imgr {
    width: 48%;
  }
  .phila {
    font-size: 60px;
    font-weight: 700;
  }
  .iki {
    padding-top: 60px;
    font-size: 44px;
    font-weight: 500;
  }
  .lower {
    margin-top: 135px;
  }
  .ayrintili {
    border: 1px solid red;
    border-radius: 8px;
    background: -webkit-linear-gradient(273.96deg, #F1264A 11.36%, #FDC639 74.92%);
    font-size: 32px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 80px;
    display: inline-block;
  }
  .date {
    opacity: 0.4;
    font-size: 32px;
    margin-left: 450px;
    margin-top: -40px;
  }
  .date .hira {
    opacity: 0.15;
  }
  .section2 {
    margin-top: 150px;
    position: relative;
  }
  .secTop span p {
    font-size: 40px;
    text-align: center;
  }
  .secTop .ins {
    position: absolute;
    right: -90px;
    top: 0;
  }
  .uchlik {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shablon {
    width: 35%;
  }
  .sushiBla {
    background-color: rgba(26, 24, 24, 0.904);
    width: 500px;
  }
  .sushiBla img {
    width: 500px;
    height: 170px;
    opacity: 0.9;
  }
  .sushir {
    position: relative;
  }
  .isB {
    position: absolute;
    left: 10px;
    top: 95px;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
  }
  .sushi_lower {
    border-bottom: 1px solid rgba(255, 255, 255, 0.747);
    padding: 12px;
  }
  .sushi_lower .avoka {
    font-size: 19px;
    font-weight: 300;
    width: 95%;
    line-height: 23px;
    color: #fff;
  }
  .sushi_lower .gram {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: #fff;
  }
  .narx_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px;
  }
  .narx_bottom .w78 {
    width: 78px;
    height: 35px;
  }
  .narx_bottom .w30 {
    height: 40px;
    width: 40px;
  }
  footer {
    padding-top: 65px;
    margin-top: 100px;
    background-color: rgba(26, 24, 24, 0.904);
    padding-bottom: 50px;
  }
  .f_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .f_content .logoc {
    width: 25%;
  }
  .f_content .logoc p {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #b8b3b3;
  }
  .f_content .fnav {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .f_content .fnav p {
    font-size: 30px;
    font-weight: 400;
    color: #d6d2d2;
  }
  .f_content .numb {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .f_content .numb .upArrow {
    width: 80px;
    height: 70px;
    margin-left: 55px;
  }
  .f_content .numb .ptt {
    margin-left: 85px;
    font-size: 20px;
    font-weight: 300;
    color: #d6d2d2;
  }
  .f_content .numb .ptt p {
    margin-top: 40px;
    border: 1px solid red;
    border-radius: 8px;
    background: -webkit-linear-gradient(273.96deg, #F1264A 11.36%, #FDC639 74.92%);
    font-size: 32px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 45px;
    display: inline-block;
    border-radius: 20px;
  }
  .right_nav {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
    height: 720px;
    width: 65px;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(26, 24, 24, 0.904);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right_nav .blabla {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .right_nav img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 540px) {
  body .container {
    width: 520px;
  }
  body .containert {
    width: 540xp;
  }
  body .right_nav {
    display: none;
  }
  body .number {
    display: none;
  }
}
/*# sourceMappingURL=uslub.css.map */