*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}
.bContainer{
    #topper{
        background-color: #f8f8f8;
    }
}
.container{
    width: 470px;
    margin: 0 auto;
}
.upp{
    display: flex;
    justify-content: space-between;
}
.burger{
    padding-top: 15px;
}
.numb{
    padding-top: 10px;
    .phoneTop{
        padding-right: 15px;
    }
}
#picfNav{
    padding-top: 50px;
}
.slider{
    background-image: url(../mgs/sushi3.jpg);
    border-radius: 10px;
    p{
    text-align: center;
    color: #fff;
    }
}
.phila{
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
.iki, .bir{
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
}
.uchret{
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 55px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 80px;
}
.dots{
    margin: auto;
    width: 15%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    h1{
         box-shadow: 0px 0px 4px 0px #000000 70%;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
    }
}
.column_images{
}
.col_ros{
    width:470px;
    height: 190px;
    margin-top: 15px;
    border-radius: 10px;
}
.new{
    background-image: url(../mgs/sushi2.jpg);
}
.roll{
    background-image: url(../mgs/sushi3.jpg);
   .rol_bla{
    float: right;
    display: flex;
    width: 50%;
    justify-content: space-around;
    position: relative;
    .rol_img{
        position: absolute;
        top: 50px;
        left: 2px;
    }
    .broll{
        color:#F32D50; 
        text-decoration: underline;
    }
   }
}
.wok{
    background-image: url(../mgs/sushi4.jpg);
    color: #fff;
    padding-left: 20px;
}
.sets{
    color: #fff;
    background-image: url(../mgs/sushi5.jpg );
    .sets_bla{
        float: right;
        display: flex;
        width: 50%;
        justify-content: space-around;
        position: relative;
        .sets_img{
            position: absolute;
            top: 50px;
            left: -20px;
        }

    }
}
.icecek{
    background-image: url(../mgs/sushi6.jpg);
    color: brown;
    padding-left: 20px;
    margin-bottom: 30px;
}
.big{
    font-size: 96px;
    font-weight: 600;
}
.bp{
    color: #fff;
    padding-left: 30px;
}
.p_popular{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.popular_items{
    padding-top: 30px;
}
.top1{
    display: flex;
    justify-content: space-around;
}
.top1_b1{
    position: relative;
    width: 49.5%;
    border-radius: 10px;
    img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    }
    .top1_bla{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 36px;
        font-weight: 500;
        color: #fff;
    }
}
.top1_b2{
    width: 49.5%;
    img{
        height: 120px;
    }
}







.pk{
    margin-bottom: 500px;
}